<?php

return array(
	'doctrine' => array(
		'connection' => array(
			// default connection name
			'orm_default' => array(
				'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
				'params' => array(
					'host' => 'localhost',
					'port' => '3306',
					'user' => 'root',
					'password' => '123',
					'dbname' => 'fzyskeleton',
					'charset'  => 'UTF8'
				)
			)
		),
		'configuration' => array(
		    'orm_default' => array(
		    // for development, autogeneration is ok, for production it is not.
		        'generate_proxies' => true,
		    ),
		),
	),
);
